@font-face {
  font-family: 'Vazirmatn';
  src: local('vazirmatn');
  font-weight: 400;
}

:root {
  --rtl-font-stack: 'Segoe UI', Tahoma, sans-serif;
}

.rtl-use-vazir {
  --rtl-font-stack: 'Vazirmatn', 'Segoe UI', Tahoma, sans-serif;
}

.rtl-content-block {
  direction: rtl !important;
  text-align: right !important;
  font-family: var(--rtl-font-stack) !important;
  unicode-bidi: isolate !important;
  line-height: 1.7 !important;
}

.rtl-content-block pre,
.rtl-content-block code,
.rtl-content-block .hljs,
.rtl-content-block [class*="language-"],
.rtl-content-block .code-block,
.rtl-content-block div[class*="code"] {
  direction: ltr !important;
  text-align: left !important;
  unicode-bidi: isolate !important;
}

.rtl-content-block ul,
.rtl-content-block ol {
  padding-right: 1.5rem !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
}